.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  height: 75vh;
  margin-left: 10vw;
}

.pagination-button {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border-radius: 2px;
  margin: .25rem;
  cursor: pointer;
}

.pagination-button:hover{
  background-color: lightskyblue;
}

.entries-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: solid black 1px;
  overflow-y: scroll;
}

.summary-entry {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
}

.summary-entry:hover {
  background-color: lightblue;
}

.ph4px {
  margin-right: 4px;
  margin-left: 4px;
}

.large-pic {
  height: auto;
}

.w-100 {
  width: 100%;
}


.profile {
  margin-top: 2rem;
}

.back {
  background-color: red;
  color: white;
  width: 40px;
  cursor: pointer;
}

.justify-center {
  justify-content: center;
}